/* Darken Background when iframe is open */
body.golily:has(.jsPanel)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  pointer-events: none;
}


/* Contacts List button fixes */
body.golily #hl_smartlists-main div.flex-page-bar,
body.golily #hl_smartlists-main div.card-like {
  background-color: transparent !important;
}
body.golily #hl_smartlists-main div.card-like {
  padding: 0.5rem 0 0.5rem 0
}


/* Sidebar Search and Quick Actions button */
body.golily #globalSearchOpener {
  border-radius: 4px;
  height: 36px;
  display: flex;
  padding-left: 4px;
}
body.golily #quickActions {
  border-radius: 4px !important;
  background-color: rgba(0,0,0,0.4) !important;
  border-color: rgba(0,0,0,0.4) !important;
  height: 36px;
  width: 36px;
}
body.golily #location-switcher-sidbar-v2 {
  margin-bottom: 8px;
}
body.golily .sidebar-v2-location #sidebar-v2 #globalSearchOpener span.search-placeholder {
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6) !important;
}
body.golily #globalSearchOpener > div {
  align-items: center;
}
body.golily .search-icon {
  margin-right: 8px;
}
body.golily .search-shortcut {
  text-transform: uppercase;
  font-size: 10px;
}



body.golily .hl_wrapper.hl_contact--details > section {
  overflow-y: hidden;
}


/* GHL Customizer Contact Buttons */
body.golily #toolbar-contact-buttons {
  padding: 14px 10px 10px 10px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.01) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
body.golily #contact-buttons {
  padding: 12px 10px 10px 10px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.01) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


body.golily #contacts-right-tabs-bar-wrapper a.nav-link.contact-tab-item {
  margin-top: 0 !important;
}

body.golily .activity-tab-details {
  padding: 0;
}

body.golily .activity-tab-details .card {
  box-shadow: none;
}

body.golily #OwnersComponent .mb-1:not(.w-max) {
  display: none;
}

body.golily #OwnersComponent .mb-1.w-max {
  font-size: 0;
  margin: 0;
}

body.golily #OwnersComponent .mb-1.w-max:before {
  content: "Owner";
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 8px;
}

body.golily #OwnersComponent .flex {
  align-items: center;
}

body.golily #OwnersComponent .flex .border-r {
  border: none;
  display: flex;
  align-items: center;
}

body.golily .hl_conversations--message-header-new .flex {
  align-items: center;
}

body.golily button[data-color="#ffffff"] {
  visibility: hidden;
}

body.golily .sidebar-v2-location .hl_wrapper.hl_topbar-tabs #conversations.hl_wrapper--inner {
  padding-top: 5px;
}

body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header nav>a:before {
  background: transparent;
}

body.golily .task-counter {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

body.golily div.hl_conversations--message-header-new {
  padding-left: 16px;
  padding-right: 16px;
}

body.golily div.w-full.contact-detail-nav {
  height: 55px;
}

body.golily ul.nav.nav-tabs.--dont-stack.nav-tabs-pd.tabs-container {
  border-bottom: none;
  height: 55px;
  display: flex;
}

body.golily a.nav-link.contact-tab-item {
  width: 100%;
  margin-bottom: 0;
  
}

body.golily .customerPageClass .card.task-list-card {
  margin: 0;
  box-shadow: none;
}

body.golily .text-curious-blue-500.truncate + .text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
  font-weight: 400;
}

body.golily span.text-gray-500.pl-1.truncate {
  text-transform: capitalize;
  margin-left: 2px;
}

body.golily div a:not(.topmenu-navitem) div {
  display: flex;
  align-items: center;
}

body.golily.opportunitiesCard .hl-card-content {
  border: none;
}

body.golily #filters + div span.text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
}

body.golily .hl_tasks .hl_products--item-text p {
  display: block;
  white-space: pre-line;
  padding-bottom: 6px;
}

body.golily .contact-detail-nav > div > span {
  flex: 1 auto;
  max-width: inherit;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

body.golily .contact-detail-nav > div {
  width: 100%;
  justify-content: start;
}

body.golily .card:not(.cardWrapper .card) {
  border-radius: 15px;
}

/* Sidebar Edits for fancy icons */
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a i:not(.caret) {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin-right: 12px;
}
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a i.h-5.w-5:not(.caret) {
  height: 40px !important;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  background-size: 36px !important;
  background-position: center !important;
  left: 0 !important;
}

body.golily .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-menu-list,
body.golily .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-folder {
  margin: 0 !important;
  padding: 8px !important;
  font-size: 1.1rem;
  border-radius: 0 !important;
}

body.golily .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a i:not(.caret) {
  margin-right: 0;
  width: auto;
}
body.golily .sidebar-v2-location.v2-collapse #taskCount {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  margin: -5px -5px 0 0;
}

body.golily #sidebar-v2 .lead-connector {
  padding-bottom: 0 !important;
}

body.golily .sidebar-v2-location #sidebar-v2.default-bg-color {
  border-right: 0 !important;
}

body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header,
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-settings {
  background-color: rgba(0, 0, 0, 0.2);
  max-height: unset !important;
  flex-grow: 1;
}
body.golily .hl_nav-header > nav {
  padding-bottom: 10px;
}
body.golily .sidebar-v2-location #sidebar-v2 #backButtonv2 {
  background-color: rgba(0,0,0,0.4) !important;
  width: 100%;
  border-radius: 0;
}
body.golily .sidebar-v2-location #sidebar-v2 #backButtonv2 + .menu-title {
  margin-top: 0 !important;
  background-color: rgba(0,0,0,0.4);
  padding-left: 8px !important;
}
body.golily #sidebar-v2 .hl_nav-header-without-footer {
  background-color: rgba(0,0,0,0.4);
  flex-grow: 1;
}
body.golily #sidebar-v2 .hl_nav-header-without-footer nav {
  padding: 0 !important;
}
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a,
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active {
  border-radius: 0 !important;
}
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a:hover {
  transform: none !important;
  border-radius: 0 !important;
}

body.golily a[meta="divider-1"]:not(.custom-divider) {
  display: none;
}

body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Please select contacts to remove tags"],
body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Add/Edit to Company"],
body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Please select contacts to add tags"] {
  display: none;
}

body.golily .location-dashboard_header > div {
  position: relative;
}

body.golily .location-dashboard_header .hl-header-content {
  align-items: center;
}

body.golily .location-dashboard_header .hl-header-content:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='size-5'%3E%3Cpath fill-rule='evenodd' d='M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

body.golily .location-dashboard-image-element-container .hl-card-content {
  background: #2DB3C7;
  padding: 20px;
}


body.golily .location-dashboard_header > div > div > button {
  position: absolute;
  width: 100%;
  opacity: 0;
}

body.golily .hl_collapse-button {
  display: none;
}

/* Conversations Filter Buttons */
body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 {
  height: 63px;
  border-bottom: 1px solid rgb(215, 218, 224);
}

body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 nav {
  padding: 0;
  height: 100%;
  align-items: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 > nav > a {
  border: none !important;
  border-radius: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child {
  border-bottom: 1px solid rgb(215, 218, 224);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child > .mt-1.ml-1 {
  margin: 10px 6px;
  flex: 1 auto;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child > div:last-child {
  padding: 0;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* End Conversations Filter Buttons */

body.golily .message-list--avatar .icon.icon-v2.w-\[22px\].h-\[22px\] {
  width: 32px;
  height: 32px;
  padding: 6px;
}

body.golily #location-dashboard_date-picker {
  display: none;
}

body.golily .custom-link > iframe {
  height: calc(100vh - 48px) !important;
}

/* Pipeline Cards Tag Banner */
body.golily .n-config-provider .target .card[class*=w-] .cardWrapper .hl-card-content {
  border: 0 !important;
}
body.golily div[class*='tag-rehash'] > .flex.justify-between,
body.golily div[class*='tag-estimate'] > .flex.justify-between {
  margin-top: 28px;
}
body.golily div[class*='tag-rehash'] .n-avatar,
body.golily div[class*='tag-estimate'] .n-avatar {
  margin-top: 28px;
}
body.golily div[class*='tag-rehash']::before,
body.golily div[class*='tag-estimate']::before {
  text-transform: uppercase;
  font-size: smaller;
  position: absolute;
  letter-spacing: 0.3px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 8px 4px;
  color: white;
  font-weight: 500;
  border-color:rgb(180, 180, 180);
}

/* Pipeline Cards Tag Banner Content */
/* In Order of Priority (bottom-most is shown) */
body.golily .tag-rehash-waiting::before {
  content: '游대 Rehash - Waiting for Delay...';
  background-color: rgb(180, 180, 180);
}
body.golily .tag-rehash-active::before {
  content: '游대 Rehash - Active';
  background-color: rgb(81, 175, 230);
}
body.golily .tag-rehash-no-reply::before {
  content: '游대 Rehash - No Reply!';
  background-color: #E63946;
}
body.golily .tag-rehash-replied::before {
  content: '游대 Replied to Rehash!';
  background-color: #28cf3f;
}
body.golily .tag-estimate-unresulted::before {
  content: '游늯 Estimate - Waiting for Result...';
  background-color: rgb(180, 180, 180);
}
body.golily .tag-estimate-unresulted::before {
  content: '游늯 Estimate Unresulted!';
  background-color: #E63946;
}

/* DEV Account Visual Helper */
body.golily._3qNkFdUYSSgxs5F2ShD7::before {
  z-index: 9999;
  content: '';
  border: 4px solid red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/* Top padding fix */
body.golily .sidebar-v2-location .hl_force-top.w-full.hl_topbar-tabs {
  padding-top: 93px !important;
}


/* Conversations List Fixes */
body.golily .messages-list--item-v2 > div {
  flex-grow: 1;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

body.golily .message-list--avatar.avatar > .avatar {
  display: none;
}

body.golily .message-list--avatar.avatar > i {
  position: relative;
  top: 0;
  left: 0;
}

body.golily .messages-list--item-v2 {
  min-height: 70px !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) {
  flex-grow: 1;
  width: 100%;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div {
  margin-left: 0 !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > div {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .truncate {
  font-weight: 500 !important;
  font-size: 14px !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .text-center,
body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > div:not(.mt-1) > div:not(.content-center) {
  flex-grow: 1;
  text-align: right !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .text-center > .time-date {
  border: none;
  background: none;
  font-weight: 400;
  margin: 0;
}

/* Fix for Contact Avatars in Pipeline */
body.golily tr#contact span.n-avatar {
  position: relative !important;
  top: unset !important;
  right: unset !important;
}

/* Custom Page Container fitting */
body.golily section.custom-pages {
  padding-top: 0 !important;
  margin-top: -1px !important;
}

body.golily section.custom-pages iframe {
  height: calc(-47px + 100vh) !important;
}
