/* Darken Background when iframe is open */
body.golily:has(.jsPanel)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  pointer-events: none;
}


/* Contacts List button fixes */
body.golily #hl_smartlists-main div.flex-page-bar,
body.golily #hl_smartlists-main div.card-like {
  background-color: transparent !important;
}
body.golily #hl_smartlists-main div.card-like {
  padding: 0.5rem 0 0.5rem 0
}


/* Sidebar Search and Quick Actions button */
body.golily #globalSearchOpener {
  border-radius: 4px;
  height: 36px;
  display: flex;
  padding-left: 4px;
}
body.golily #quickActions {
  border-radius: 4px !important;
  background-color: rgba(0,0,0,0.4) !important;
  border-color: rgba(0,0,0,0.4) !important;
  height: 36px;
  width: 36px;
}
body.golily #location-switcher-sidbar-v2 {
  margin-bottom: 8px;
}
body.golily .sidebar-v2-location #sidebar-v2 #globalSearchOpener span.search-placeholder {
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6) !important;
}
body.golily #globalSearchOpener > div {
  align-items: center;
}
body.golily .search-icon {
  margin-right: 8px;
}
body.golily .search-shortcut {
  text-transform: uppercase;
  font-size: 10px;
}



body.golily .hl_wrapper.hl_contact--details > section {
  overflow-y: hidden;
}


/* GHL Customizer Contact Buttons */
body.golily #toolbar-contact-buttons {
  padding: 14px 10px 10px 10px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.01) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
body.golily #contact-buttons {
  padding: 12px 10px 10px 10px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.01) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


body.golily #contacts-right-tabs-bar-wrapper a.nav-link.contact-tab-item {
  margin-top: 0 !important;
}

body.golily .activity-tab-details {
  padding: 0;
}

body.golily .activity-tab-details .card {
  box-shadow: none;
}

body.golily #OwnersComponent .mb-1:not(.w-max) {
  display: none;
}

body.golily #OwnersComponent .mb-1.w-max {
  font-size: 0;
  margin: 0;
}

body.golily #OwnersComponent .mb-1.w-max:before {
  content: "Owner";
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 8px;
}

body.golily #OwnersComponent .flex {
  align-items: center;
}

body.golily #OwnersComponent .flex .border-r {
  border: none;
  display: flex;
  align-items: center;
}

body.golily .hl_conversations--message-header-new .flex {
  align-items: center;
}

body.golily button[data-color="#ffffff"] {
  visibility: hidden;
}

body.golily .sidebar-v2-location .hl_wrapper.hl_topbar-tabs #conversations.hl_wrapper--inner {
  padding-top: 5px;
}

body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header nav>a:before {
  background: transparent;
}

body.golily .task-counter {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

body.golily div.hl_conversations--message-header-new {
  padding-left: 16px;
  padding-right: 16px;
}

body.golily div.w-full.contact-detail-nav {
  height: 55px;
}

body.golily ul.nav.nav-tabs.--dont-stack.nav-tabs-pd.tabs-container {
  border-bottom: none;
  height: 55px;
  display: flex;
}

body.golily a.nav-link.contact-tab-item {
  width: 100%;
  margin-bottom: 0;
  
}

body.golily .customerPageClass .card.task-list-card {
  margin: 0;
  box-shadow: none;
}

body.golily .text-curious-blue-500.truncate + .text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
  font-weight: 400;
}

body.golily span.text-gray-500.pl-1.truncate {
  text-transform: capitalize;
  margin-left: 2px;
}

body.golily div a:not(.topmenu-navitem) div {
  display: flex;
  align-items: center;
}

body.golily.opportunitiesCard .hl-card-content {
  border: none;
}

body.golily .tag-🔁-follow-up-1-month {
  background-color: rgba(0, 0, 0, 0.05);
}

body.golily .tag-🔁-follow-up-1-month > .flex.justify-between {
  margin-top: 26px;
}
body.golily .tag-🔁-follow-up-1-month .n-avatar {
  margin-top: 26px;
}

body.golily .tag-🔁-follow-up-1-month::before {
  content: 'In Rehash - Waiting...';
  text-transform: uppercase;
  font-size: smaller;
  position: absolute;
  letter-spacing: 0.3px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(45, 179, 199);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px 8px;
  color: white;
  font-weight: 500;
}

body.golily #filters + div span.text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
}

body.golily .hl_tasks .hl_products--item-text p {
  display: block;
  white-space: pre-line;
  padding-bottom: 6px;
}

body.golily .contact-detail-nav > div > span {
  flex: 1 auto;
  max-width: inherit;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

body.golily .contact-detail-nav > div {
  width: 100%;
  justify-content: start;
}

body.golily .card:not(.cardWrapper .card) {
  border-radius: 15px;
}

/* Sidebar Edits for fancy icons */
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a i:not(.caret) {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin-right: 12px;
}
body.golily .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location #sidebar-v2 .flex-col a i.h-5.w-5:not(.caret) {
  height: 40px !important;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  background-size: 36px !important;
  background-position: center !important;
  left: 0 !important;
}

body.golily .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-menu-list,
body.golily .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-folder {
  margin: 0 !important;
  padding: 8px !important;
  font-size: 1.1rem;
  border-radius: 0 !important;
}

body.golily .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a img,
body.golily .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a i:not(.caret) {
  margin-right: 0;
  width: auto;
}
body.golily .sidebar-v2-location.v2-collapse #taskCount {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  margin: -5px -5px 0 0;
}

body.golily #sidebar-v2 .lead-connector {
  padding-bottom: 0 !important;
}

body.golily .sidebar-v2-location #sidebar-v2.default-bg-color {
  border-right: 0 !important;
}

body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-header,
body.golily .sidebar-v2-location #sidebar-v2 .hl_nav-settings {
  background-color: rgba(95, 175, 233, 0.5);
  max-height: unset !important;
  flex-grow: 1;
}
body.golily .hl_nav-header > nav {
  padding-bottom: 10px;
}

body.golily a[meta="divider-1"]:not(.custom-divider) {
  display: none;
}

body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Please select contacts to remove tags"],
body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Add/Edit to Company"],
body.golily #smartlists .hl_controls.hl_smartlists--controls span[title="Please select contacts to add tags"] {
  display: none;
}

body.golily .location-dashboard_header > div {
  position: relative;
}

body.golily .location-dashboard_header .hl-header-content {
  align-items: center;
}

body.golily .location-dashboard_header .hl-header-content:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='size-5'%3E%3Cpath fill-rule='evenodd' d='M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

body.golily .location-dashboard-image-element-container .hl-card-content {
  background: #2DB3C7;
  padding: 20px;
}


body.golily .location-dashboard_header > div > div > button {
  position: absolute;
  width: 100%;
  opacity: 0;
}

body.golily .hl_collapse-button {
  display: none;
}

/* Conversations Filter Buttons */
body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 {
  height: 63px;
  border-bottom: 1px solid rgb(215, 218, 224);
}

body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 nav {
  padding: 0;
  height: 100%;
  align-items: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div > .border-b-2 > nav > a {
  border: none !important;
  border-radius: 0 !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child {
  border-bottom: 1px solid rgb(215, 218, 224);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child > .mt-1.ml-1 {
  margin: 10px 6px;
  flex: 1 auto;
}

body.golily .hl_conversations--messages-list-v2 > div > div:nth-child(2) > div:first-child > div:last-child {
  padding: 0;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* End Conversations Filter Buttons */

body.golily #location-dashboard_date-picker {
  display: none;
}

body.golily .custom-link > iframe {
  height: calc(100vh - 48px) !important;
}

/* Pipeline Cards Tag Banner */
body.golily .n-config-provider .target .card[class*=w-] .cardWrapper .hl-card-content {
  border: 0 !important;
}
body.golily div[class*='tag-rehash'] > .flex.justify-between,
body.golily div[class*='tag-🔁-'] > .flex.justify-between,
body.golily div[class*='tag-unresulted-estimate'] > .flex.justify-between {
  margin-top: 28px;
}
body.golily div[class*='tag-rehash'] .n-avatar,
body.golily div[class*='tag-🔁-'] .n-avatar,
body.golily div[class*='tag-unresulted-estimate'] .n-avatar {
  margin-top: 28px;
}
body.golily div[class*='tag-rehash']::before,
body.golily div[class*='tag-🔁-']::before,
body.golily div[class*='tag-unresulted-estimate']::before {
  text-transform: uppercase;
  font-size: smaller;
  position: absolute;
  letter-spacing: 0.3px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 6px 8px 4px;
  color: white;
  font-weight: 500;
  border-color:rgb(180, 180, 180);
}

/* Pipeline Cards Tag Banner Content */
/* In Order of Priority (bottom-most is shown) */
body.golily .tag-rehash-waiting::before {
  content: '🔁 Rehash - Waiting...';
  background-color: rgb(180, 180, 180);
}
body.golily .tag-rehash-no-reply::before {
  content: '🔁 No Reply to Rehash Campaign';
  background-color: #E63946;
}
body.golily div[class*='tag-🔁-']::before {
  background-color: rgb(45, 179, 199);
}
body.golily .tag-🔁-in-rehash---cancelled::before {
  content: 'tag-🟤-replied-to-demo-no-sale-rehash';
}
body.golily .tag-🔁-in-rehash---no-sale::before {
  content: '🔁 Rehash: No Sale';
}
body.golily .tag-🔁-in-rehash---general-follow-up::before {
  content: '🔁 Rehash: General Follow-Up';
}
body.golily .tag-🔁-in-rehash---no-show::before {
  content: '🔁 Rehash: No Show';
}
body.golily .tag-🟤-replied-to-demo-no-sale-rehash::before {
  content: '🔁 Replied to Rehash!';
  background-color: #28cf3f;
}
body.golily .tag-unresulted-estimate::before {
  content: '📄 Needs Result';
  background-color: #E63946;
}

/* DEV Account Visual Helper */
body.golily._3qNkFdUYSSgxs5F2ShD7::before {
  z-index: 9999;
  content: '';
  border: 4px solid red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/* Top padding fix */
body.golily .sidebar-v2-location .hl_force-top.w-full.hl_topbar-tabs {
  padding-top: 93px !important;
}


/* Conversations List Fixes */
body.golily .messages-list--item-v2 > div {
  flex-grow: 1;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

body.golily .message-list--avatar.avatar > .avatar {
  display: none;
}

body.golily .message-list--avatar.avatar > i {
  position: relative;
  top: 0;
  left: 0;
}

body.golily .messages-list--item-v2 {
  min-height: 70px !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) {
  flex-grow: 1;
  width: 100%;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div {
  margin-left: 0 !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > div {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .truncate {
  font-weight: 500 !important;
  font-size: 14px !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .text-center,
body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > div:not(.mt-1) > div:not(.content-center) {
  flex-grow: 1;
  text-align: right !important;
}

body.golily .messages-list--item-v2 > div > div:not(.message-list--avatar) > div > .mt-1 > .text-center > .time-date {
  border: none;
  background: none;
  font-weight: 400;
  margin: 0;
}

/* Dashboard Buttons */
.dashboard-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

#location-dashboard-header {
  margin-top: 24px;
}

.dashboard-button-container .mkt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 5em;
  font-size: 2rem;
  margin: 0;
  background-color: transparent;
  color: rgb(45, 179, 199);
  border: 3px solid rgb(45, 179, 199)
}

.dashboard-button-container .mkt-button:hover {
  background-color: rgb(45, 179, 199);
  color: white;
}

.dashboard-button-container .mkt-button::before {
  padding: 4px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
  line-height: 1;
  height: 140px;
  width: 140px;
  margin-bottom: .5rem;
}

.dashboard-button-container .mkt-button[id$="-pipelines"]::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%22-0.75%20-0.75%2032%2032%22%20id%3D%22Business-Contract-Give--Streamline-Ultimate%22%20height%3D%22128%22%20width%3D%22128%22%3E%3Cdesc%3EBusiness%20Contract%20Give%20Streamline%20Icon%3A%20https%3A%2F%2Fstreamlinehq.com%3C%2Fdesc%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22M8.563828124999999%2025.5826375H23.15077083333333V6.133232291666666c0%20-0.32239770833333337%20-0.1281%20-0.63157875%20-0.35596041666666667%20-0.8595408333333332%20-0.22798749999999998%20-0.22796208333333334%20-0.5371812499999999%20-0.35603666666666667%20-0.8595916666666666%20-0.35603666666666667H7.3482506249999995V24.366958333333333c0%200.32241041666666664%200.12807458333333333%200.6316041666666666%200.35602395833333333%200.8595916666666666%200.22797479166666665%200.22786041666666665%200.5371558333333333%200.3560875%200.8595535416666666%200.3560875Z%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M22.82505625%205.317586041666667c-0.11221458333333333%20-0.12502458333333333%20-0.2493375%20-0.22519166666666665%20-0.4026%20-0.29407083333333334%20-0.1532625%20-0.06886645833333334%20-0.3192333333333333%20-0.10493270833333333%20-0.4872375%20-0.10586041666666667H7.3482506249999995V20.7956625L22.82505625%205.317586041666667Z%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M8.563828124999999%2025.5826375H23.15077083333333V6.133232291666666c0%20-0.32239770833333337%20-0.1281%20-0.63157875%20-0.35596041666666667%20-0.8595408333333332%20-0.22798749999999998%20-0.22796208333333334%20-0.5371812499999999%20-0.35603666666666667%20-0.8595916666666666%20-0.35603666666666667H7.3482506249999995V24.366958333333333c0%200.32241041666666664%200.12807458333333333%200.6316041666666666%200.35602395833333333%200.8595916666666666%200.22797479166666665%200.22786041666666665%200.5371558333333333%200.3560875%200.8595535416666666%200.3560875Z%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22m29.229166666666664%2027.405775%20-1.2155520833333333%20-2.350914583333333v-5.550364583333333c0.051087499999999994%20-2.16130625%20-2.5295937499999996%20-4.088016666666666%20-4.862335416666666%20-6.0778875v6.622439583333333l-1.2544395833333333%20-1.2823979166666668c-0.13839374999999998%20-0.14398541666666664%20-0.30372916666666666%20-0.2589958333333333%20-0.4866020833333333%20-0.33880416666666663%20-0.18299999999999997%20-0.07968125000000001%20-0.37997916666666665%20-0.12250833333333333%20-0.5795%20-0.12593958333333333%20-0.19964791666666665%20-0.003304166666666666%20-0.39789791666666663%200.03291458333333333%20-0.5833125%200.10649583333333333%20-0.18554166666666663%200.07370833333333333%20-0.35468958333333334%200.18325416666666666%20-0.4976583333333333%200.32241041666666664%20-0.14309583333333334%200.13928333333333334%20-0.2570895833333333%200.3055083333333333%20-0.3356270833333333%200.48888958333333327%20-0.0785375%200.18350833333333333%20-0.11996666666666665%200.3807416666666666%20-0.122%200.5802625%20-0.002033333333333333%200.19964791666666665%200.035583333333333335%200.39764375%200.11030833333333333%200.5826770833333333%200.07485208333333333%200.18503333333333333%200.18554166666666663%200.35341875%200.32571458333333325%200.49549791666666665l3.4231166666666666%203.4886916666666665v1.8233916666666667c0.18605%201.0874520833333332%200.6002145833333333%202.123308333333333%201.2155520833333333%203.03894375%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m29.229166666666664%2027.405775%20-1.2155520833333333%20-2.350914583333333v-5.550364583333333c0.051087499999999994%20-2.16130625%20-2.5295937499999996%20-4.088016666666666%20-4.862335416666666%20-6.0778875v6.622439583333333l-1.2544395833333333%20-1.2823979166666668c-0.13839374999999998%20-0.14398541666666664%20-0.30372916666666666%20-0.2589958333333333%20-0.4866020833333333%20-0.33880416666666663%20-0.18299999999999997%20-0.07968125000000001%20-0.37997916666666665%20-0.12250833333333333%20-0.5795%20-0.12593958333333333%20-0.19964791666666665%20-0.003304166666666666%20-0.39789791666666663%200.03291458333333333%20-0.5833125%200.10649583333333333%20-0.18554166666666663%200.07370833333333333%20-0.35468958333333334%200.18325416666666666%20-0.4976583333333333%200.32241041666666664%20-0.14309583333333334%200.13928333333333334%20-0.2570895833333333%200.3055083333333333%20-0.3356270833333333%200.48888958333333327%20-0.0785375%200.18350833333333333%20-0.11996666666666665%200.3807416666666666%20-0.122%200.5802625%20-0.002033333333333333%200.19964791666666665%200.035583333333333335%200.39764375%200.11030833333333333%200.5826770833333333%200.07485208333333333%200.18503333333333333%200.18554166666666663%200.35341875%200.32571458333333325%200.49549791666666665l3.4231166666666666%203.4886916666666665v1.8233916666666667c0.18605%201.0874520833333332%200.6002145833333333%202.123308333333333%201.2155520833333333%203.03894375%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m24.997545833333334%2021.935727083333333%20-1.84639375%20-1.8865520833333331%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22m1.2708333333333333%203.0942122916666666%201.2155775%202.35094V10.995504166666667c-0.051049374999999994%202.16130625%202.5296318749999998%204.088016666666666%204.862335416666666%206.0778875V10.450926666666666l1.2544904166666666%201.2824360416666667c0.138279375%200.143921875%200.303665625%200.2590720833333333%200.48662749999999994%200.33882958333333335%200.18296187499999997%200.07974479166666666%200.37990291666666665%200.12252104166666665%200.5794618749999999%200.125850625%200.19955895833333331%200.0033295833333333333%200.3978089583333333%20-0.032851041666666664%200.5833379166666666%20-0.10645770833333332s0.3546514583333333%20-0.18317791666666663%200.4976583333333333%20-0.32241041666666664c0.143006875%20-0.1392325%200.2570514583333333%20-0.30538125%200.33557625%20-0.48887687499999993%200.0785375%20-0.18348291666666666%200.11999208333333333%20-0.38070354166666664%200.12198729166666666%20-0.5802879166666667%200.0020079166666666665%20-0.19958437499999998%20-0.035494374999999995%20-0.39758020833333335%20-0.11033374999999998%20-0.5826262499999999%20-0.07482666666666667%20-0.185020625%20-0.18554166666666663%20-0.35341875%20-0.32571458333333325%20-0.4954852083333333L7.348746249999999%206.13316875V4.309789791666666C7.162810625%203.222299583333333%206.748518958333333%202.186557708333333%206.13316875%201.2708333333333333%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m1.2708333333333333%203.0942122916666666%201.2155775%202.35094V10.995504166666667c-0.051049374999999994%202.16130625%202.5296318749999998%204.088016666666666%204.862335416666666%206.0778875V10.450926666666666l1.2544904166666666%201.2824360416666667c0.138279375%200.143921875%200.303665625%200.2590720833333333%200.48662749999999994%200.33882958333333335%200.18296187499999997%200.07974479166666666%200.37990291666666665%200.12252104166666665%200.5794618749999999%200.125850625%200.19955895833333331%200.0033295833333333333%200.3978089583333333%20-0.032851041666666664%200.5833379166666666%20-0.10645770833333332s0.3546514583333333%20-0.18317791666666663%200.4976583333333333%20-0.32241041666666664c0.143006875%20-0.1392325%200.2570514583333333%20-0.30538125%200.33557625%20-0.48887687499999993%200.0785375%20-0.18348291666666666%200.11999208333333333%20-0.38070354166666664%200.12198729166666666%20-0.5802879166666667%200.0020079166666666665%20-0.19958437499999998%20-0.035494374999999995%20-0.39758020833333335%20-0.11033374999999998%20-0.5826262499999999%20-0.07482666666666667%20-0.185020625%20-0.18554166666666663%20-0.35341875%20-0.32571458333333325%20-0.4954852083333333L7.348746249999999%206.13316875V4.309789791666666C7.162810625%203.222299583333333%206.748518958333333%202.186557708333333%206.13316875%201.2708333333333333%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22m5.501564583333334%208.56432375%201.8464699999999998%201.8865775%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
.dashboard-button-container .mkt-button[id$="-tasks"]::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%22-0.75%20-0.75%2032%2032%22%20id%3D%22Check-Square--Streamline-Ultimate%22%20height%3D%22128%22%20width%3D%22128%22%3E%3Cdesc%3ECheck%20Square%20Streamline%20Icon%3A%20https%3A%2F%2Fstreamlinehq.com%3C%2Fdesc%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22M20.729579166666667%208.857784583333332c0.6725249999999999%200%201.2177125%200.5451874999999999%201.2177125%201.2176997916666665V24.687716666666667c0%200.6725249999999999%20-0.5451874999999999%201.2177125%20-1.2177125%201.2177125H6.117359583333332c-0.6725122916666667%200%20-1.2176997916666665%20-0.5451874999999999%20-1.2176997916666665%20-1.2177125V10.075484375c0%20-0.6726266666666666%200.5450731249999999%20-1.2178141666666666%201.2176997916666665%20-1.2176997916666665H20.729579166666667Z%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M28.03598125%202.159196666666667%2012.814829166666666%2021.033435416666663%206.726482708333333%2014.944999999999999%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M24.3824625%2014.337414583333333v12.785727083333333c0%200.6723979166666666%20-0.5451874999999999%201.2175854166666666%20-1.2177125%201.2175854166666666H3.6818074999999997c-0.6725249999999999%200%20-1.2177125%20-0.5451874999999999%20-1.2177125%20-1.2175854166666666V7.640084791666666c0%20-0.6725122916666667%200.5451874999999999%20-1.2176997916666665%201.2177125%20-1.2176997916666665H17.68517083333333%22%20stroke-width%3D%221.5%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
.dashboard-button-container .mkt-button[id$="-follow-up_actions"]::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20viewBox%3D%22-0.64%20-0.64%2036%2036%22%20id%3D%22Single-Neutral-Actions-Refresh--Streamline-Ultimate%22%20height%3D%22128%22%20width%3D%22128%22%3E%3Cdesc%3ESingle%20Neutral%20Actions%20Refresh%20Streamline%20Icon%3A%20https%3A%2F%2Fstreamlinehq.com%3C%2Fdesc%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22m11.139695%2033.25148866666667%200.6912318000000001%20-8.295042h3.4562892v-4.838810666666667c0%20-5.321129333333333%20-5.7604820000000005%20-8.646914733333334%20-10.368722933333334%20-5.986306666666667%20-2.138752%201.2348746666666668%20-3.4562892%203.516846666666667%20-3.4562892%205.986306666666667v4.838810666666667h3.4562892l0.6912318000000001%208.295042h5.529970133333334Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22M8.374955866666667%2011.1314924c3.724906266666667%200%206.0529546000000005%20-4.0323374%204.1905738%20-7.258129200000001C11.701102933333333%202.376294666666667%2010.103664666666667%201.4540012666666666%208.374955866666667%201.4540012666666666c-3.7247616000000003%200%20-6.052795466666667%204.032322933333333%20-4.190414666666666%207.258114733333334%200.8644122666666668%201.4970685333333333%202.4617058666666667%202.4193764%204.190414666666666%202.4193764Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.287216%2020.117636v2.7650140000000003c0%20-5.321129333333333%20-5.7604820000000005%20-8.647016%20-10.368722933333334%20-5.986451333333333%20-2.138752%201.2348746666666668%20-3.4562892%203.516846666666667%20-3.4562892%205.986451333333333v-2.7650140000000003c0%20-5.321129333333333%205.7604820000000005%20-8.646914733333334%2010.368722933333334%20-5.986306666666667%202.138766466666667%201.2348746666666668%203.4562892%203.516846666666667%203.4562892%205.986306666666667Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M13.210714066666668%206.292638333333334c0.0014032666666666668%200.46861873333333337%20-0.06903493333333334%200.9345756000000002%20-0.2073652%201.3824491333333333%20-1.0565296%20-3.5652521333333334%20-5.576277933333333%20-4.6497458%20-8.135532533333334%20-1.9521464666666668%20-0.5243877333333334%200.5527568666666667%20-0.9107200666666668%201.2216810666666669%20-1.1271124666666668%201.9521464666666668%20-0.13945866666666668%20-0.4474540000000001%20-0.20933266666666667%20-0.9136857333333335%20-0.20735073333333337%20-1.3824491333333333%200%20-3.724906266666667%204.032192733333334%20-6.052957493333333%207.2579845333333335%20-4.190429133333334%201.4972132%200.8642820666666667%202.4193764%202.4617203333333335%202.4193764%204.190429133333334Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M14.916724666666667%2017.8808c-1.718857%20-5.036005800000001%20-8.244683533333333%20-6.3229026%20-11.746557200000002%20-2.316402666666667%20-1.1019838666666668%201.2607700000000002%20-1.7089473333333334%202.8787220000000002%20-1.7079636%204.553238666666667v4.838666h3.4562892l0.6912318000000001%208.295042h5.529970133333334l0.6912318000000001%20-8.295042h1.3824636000000001%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M8.374955866666667%2011.1314924c3.724906266666667%200%206.0529546000000005%20-4.0323374%204.1905738%20-7.258129200000001C11.701102933333333%202.376294666666667%2010.103664666666667%201.4540012666666666%208.374955866666667%201.4540012666666666c-3.7247616000000003%200%20-6.052795466666667%204.032322933333333%20-4.190414666666666%207.258114733333334%200.8644122666666668%201.4970685333333333%202.4617058666666667%202.4193764%204.190414666666666%202.4193764Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20fill%3D%22%2396effa%22%20d%3D%22M24.950081333333337%2031.177547333333337c4.7891900000000005%200.007233333333333334%207.790010666666667%20-5.172556666666667%205.401708666666667%20-9.323622%20-1.1116186666666668%20-1.932312666666667%20-3.1723953333333332%20-3.122196%20-5.401708666666667%20-3.1187240000000003%20-4.789045333333334%200.007088666666666667%20-7.774531333333334%205.196137333333334%20-5.373643333333334%209.339969333333334%201.1108953333333333%201.9172673333333334%203.157784%203.0991940000000002%205.373643333333334%203.102376666666667Z%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M21.506436%2026.338736666666666h-4.838666v4.838810666666667%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M32.45162666666667%2028.043488666666665c-1.9042473333333334%205.613645333333333%20-9.171288%207.060890666666667%20-13.080760000000001%202.6051573333333335%20-1.0583813333333334%20-1.2062306666666667%20-1.713432%20-2.7130786666666666%20-1.8738673333333333%20-4.309909333333334%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M28.419043333333338%2023.573867333333336h4.838810666666667v-4.838666%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22%2333bbce%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M17.474431333333335%2021.869260000000004c1.9140846666666667%20-5.612632666666667%209.186044%20-7.048449333333334%2013.089729333333334%20-2.584614666666667%201.0510033333333335%201.2018906666666667%201.7025820000000003%202.7007820000000002%201.8646086666666668%204.2892220000000005%22%20stroke-width%3D%221.28%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
