/* Darken Background when iframe is open */
body.t1p:has(.jsPanel)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  pointer-events: none;
}


/* Contacts List button fixes */
body.t1p #hl_smartlists-main div.flex-page-bar,
body.t1p #hl_smartlists-main div.card-like {
  background-color: transparent !important;
}
body.t1p #hl_smartlists-main div.card-like {
  padding: 0.5rem 0 0.5rem 0
}


/* Sidebar Search and Quick Actions button */
body.t1p #globalSearchOpener {
  border-radius: 4px;
  height: 36px;
  display: flex;
  padding-left: 4px;
}
body.t1p #quickActions {
  border-radius: 4px !important;
  background-color: rgba(0,0,0,0.4) !important;
  border-color: rgba(0,0,0,0.4) !important;
  height: 36px;
  width: 36px;
}
body.t1p #location-switcher-sidbar-v2 {
  margin-bottom: 8px;
}
body.t1p .sidebar-v2-location #sidebar-v2 #globalSearchOpener span.search-placeholder {
  line-height: 12px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6) !important;
}
body.t1p #globalSearchOpener > div {
  align-items: center;
}
body.t1p .search-icon {
  margin-right: 8px;
}
body.t1p .search-shortcut {
  text-transform: uppercase;
  font-size: 10px;
}



body.t1p .hl_wrapper.hl_contact--details > section {
  overflow-y: hidden;
}


/* GHL Customizer Contact Buttons */
body.t1p #toolbar-contact-buttons {
  padding: 14px 10px 10px 10px !important;
  text-align: center;
  background-color: rgba(0,0,0,0.01) !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
body.t1p #contact-buttons {
  padding: 12px 10px 10px 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.01);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


body.t1p #contacts-right-tabs-bar-wrapper a.nav-link.contact-tab-item {
  margin-top: 0 !important;
}

body.t1p .activity-tab-details {
  padding: 0;
}

body.t1p .activity-tab-details .card {
  box-shadow: none;
}

body.t1p #OwnersComponent .mb-1:not(.w-max) {
  display: none;
}

body.t1p #OwnersComponent .mb-1.w-max {
  font-size: 0;
  margin: 0;
}

body.t1p #OwnersComponent .mb-1.w-max:before {
  content: "Owner";
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 8px;
}

body.t1p #OwnersComponent .flex {
  align-items: center;
}

body.t1p #OwnersComponent .flex .border-r {
  border: none;
  display: flex;
  align-items: center;
}

body.t1p .hl_conversations--message-header-new .flex {
  align-items: center;
}

body.t1p button[data-color="#ffffff"] {
  visibility: hidden;
}

body.t1p .sidebar-v2-location .hl_wrapper.hl_topbar-tabs #conversations.hl_wrapper--inner {
  padding-top: 5px;
}

body.t1p .sidebar-v2-location #sidebar-v2 .hl_nav-header nav>a:before {
  background: transparent;
}

body.t1p .task-counter {
  display: flex;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}

body.t1p div.hl_conversations--message-header-new {
  padding-left: 16px;
  padding-right: 16px;
}

body.t1p div.w-full.contact-detail-nav {
  height: 55px;
}

body.t1p ul.nav.nav-tabs.--dont-stack.nav-tabs-pd.tabs-container {
  border-bottom: none;
  height: 55px;
  display: flex;
}

body.t1p a.nav-link.contact-tab-item {
  width: 100%;
  margin-bottom: 0;
  
}

body.t1p .customerPageClass .card.task-list-card {
  margin: 0;
  box-shadow: none;
}

body.t1p .text-curious-blue-500.truncate + .text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
  font-weight: 400;
}

body.t1p span.text-gray-500.pl-1.truncate {
  text-transform: capitalize;
  margin-left: 2px;
}

body.t1p div a:not(.topmenu-navitem) div {
  display: flex;
  align-items: center;
}

body.t1p.opportunitiesCard .hl-card-content {
  border: none;
}

body.t1p .tag-游대-follow-up-1-month {
  background-color: rgba(0, 0, 0, 0.05);
}

body.t1p .tag-游대-follow-up-1-month > .flex.justify-between {
  margin-top: 26px;
}
body.t1p .tag-游대-follow-up-1-month .n-avatar {
  margin-top: 26px;
}

body.t1p .tag-游대-follow-up-1-month::before {
  content: 'In Rehash - Waiting...';
  text-transform: uppercase;
  font-size: smaller;
  position: absolute;
  letter-spacing: 0.3px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(45, 179, 199);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 4px 8px;
  color: white;
  font-weight: 500;
}

body.t1p #filters + div span.text-gray-500.pt-2.truncate.d-block {
  white-space: pre-line;
}

body.t1p .hl_tasks .hl_products--item-text p {
  display: block;
  white-space: pre-line;
  padding-bottom: 6px;
}

body.t1p .contact-detail-nav > div > span {
  flex: 1 auto;
  max-width: inherit;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

body.t1p .contact-detail-nav > div {
  width: 100%;
  justify-content: start;
}

body.t1p .card:not(.cardWrapper .card) {
  border-radius: 15px;
}


/* Dashboard Title Heading Edits */
body.t1p #location-dashboard .location-dashboard-title-chart-container {
  background: transparent;
}

body.t1p #location-dashboard .location-dashboard-title-chart-container .hl-card-content {
  background-color: #2DB3C7;
  padding: 15px 20px !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

body.t1p .location-dashboard-title-chart-container .hl-card-content .title-text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2rem;
}

/* Sidebar Edits for fancy icons */
body.t1p .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.t1p .sidebar-v2-location #sidebar-v2 .flex-col a img,
body.t1p .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.t1p .sidebar-v2-location #sidebar-v2 .flex-col a i:not(.caret) {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 4px;
  margin-right: 12px;
}
body.t1p .sidebar-v2-agency #sidebar-v2 .flex-col a img,
body.t1p .sidebar-v2-location #sidebar-v2 .flex-col a i.h-5.w-5:not(.caret) {
  height: 40px !important;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  background-size: 36px !important;
  background-position: center !important;
  left: 0 !important;
}

body.t1p .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-menu-list,
body.t1p .sidebar-v2-location:not(.v2-collapse) #sidebar-v2 .hl_nav-header nav a.mkt-folder {
  margin: 12px 12px;
  padding: 4px 0 !important;
  font-size: 1.05rem
}

body.t1p .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a img,
body.t1p .sidebar-v2-location.v2-collapse #sidebar-v2 .flex-col a i:not(.caret) {
  margin-right: 0;
  width: auto;
}
body.t1p .sidebar-v2-location.v2-collapse #taskCount {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  margin: -5px -5px 0 0;
}

body.t1p #sidebar-v2 .lead-connector {
  padding-bottom: 0;
}

body.t1p .sidebar-v2-location #sidebar-v2 .hl_nav-header,
body.t1p .sidebar-v2-location #sidebar-v2 .hl_nav-settings {
  background-color: rgba(0,0,0,0.3);
  max-height: unset !important;
  flex-grow: 1;
}
body.t1p .hl_nav-header > nav {
  padding: 4px 0;
}

body.t1p a[meta="divider-1"]:not(.custom-divider) {
  display: none;
}
